

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}

body {
	// background-color: gray;
}


#main {
	height: 100%;
	width: 100%;
	background: black;
	position: fixed;
}

canvas#mirror {
	// margin-left: auto;
	// margin-right: auto;
	// height: 100%;
	// width: 100%;
	// background-color: rgb(40,40,40);
}

canvas {
	// border: 1px dotted yellow;
}

video {
	background-color: darkgray;
}

#image_holder {
	// display: none;
}